set-window-option -g mode-keys vi

# Fix selection (v should NOT take an argument)
bind -T copy-mode-vi v send-keys -X begin-selection

set -g mouse on

# Clipboard integration (Detecting WSL vs macOS)
# Windows/WSL
if-shell 'command -v clip.exe > /dev/null' {
  bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'clip.exe'
  bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel 'clip.exe'
  # Paste from system clipboard using P (capital)
  bind P run "powershell.exe -NoProfile -ExecutionPolicy Bypass -Command Get-Clipboard | tr -d '\r' | tmux load-buffer - ; tmux paste-buffer"
}

# macOS
if-shell 'command -v pbcopy > /dev/null' {
  bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'pbcopy'
  bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel 'pbcopy'
  # Paste from system clipboard using P (capital)
  bind P run "pbpaste | tmux load-buffer - ; tmux paste-buffer"
}
